<h1>Add Account</h1>

<div id="new_acct_form">
  <%= form_for @account do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "Account Name"%>
    </p>
    <p>
      <%= f.label :balance, "Balance $" %>
      <%= f.text_field :balance, :placeholder => "Initial balance"%>
    </p>
    <%= f.submit %>
  <% end %>
</div>
